<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a style="color: blue;" href="/">Homeeb</a></li>
            <h1><a href="/admin" >admin</a></h1>
           
            <li><a href="/name">name</a></li>
            <li><a href="/productxx">productxx</a></li>
            
            <li><a href="/engnews">engnews</a></li>
            <li><a href="/about_view">about_view</a></li>
            <li><a href="/bookproductsview">bookproductsview</a></li>
            <li><a href="/HomeView">HomeView</a></li>
            <li><a href="/member_list">member_list</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}

        {% for member in object_list %}
        {{ member.first_name }} {{ member.last_name }} <br>
          <br>
         {{ member.email }}     <br>
        {% endfor %}

        {% endblock %}
    </div>
</body>
</html>


